*.bak
*.lock
*.pid

.dev

db_output/
.mock_env/

.vscode
.envrc
.ruff_cache
__pycache__/
non_friends_cache.json
export_config.json

**/.vscode
**/.envrc
**/.ruff_cache
**/__pycache__/
**/non_friends_cache.json
**/export_config.json
